# Case Study on Measures of Central Tendency and Dispersion

In [61]:
#import all the relevant libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [62]:
#load the dataset 
datasheet=pd.read_csv(r"StudentsPerformance.csv")

In [8]:
datasheet

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

In [63]:
#checking the columns
datasheet.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

# 1. Find out how many males and females participated in the test.

In [51]:
datasheet.groupby(["gender"]).count()

,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
gender,,,,,,,
female,518,518,518,518,518,518,518
male,482,482,482,482,482,482,482

# 2. What do you think about the students' parental level of education?

In [52]:
datasheet.groupby(["parental level of education"])["reading score"].describe()

,count,mean,std,min,25%,50%,75%,max
parental level of education,,,,,,,,
associate's degree,222.0,71.018018,13.842999,31.0,61.0,73.0,81.00,100.0
bachelor's degree,118.0,73.000000,14.285250,41.0,63.0,73.0,82.75,100.0
high school,196.0,64.602041,14.245280,24.0,54.0,66.0,74.25,99.0
master's degree,59.0,75.949153,13.046896,53.0,66.5,76.0,84.50,100.0
some college,226.0,69.566372,14.312932,23.0,60.0,71.0,80.00,100.0
some high school,179.0,66.759777,15.710633,17.0,56.5,67.0,79.00,100.0

# Insights:
    students having Masters degree as parental level of education are performing well

# 3. Who scores the most on average for math, reading and writing based on
● Gender
● Test preparation course

# ● On the basis of Gender

In [34]:
#the most average for math on the basis of gender
datasheet.groupby(["gender"])["math score"].mean()

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

In [35]:
#the most average for reading score on the basis of gender
datasheet.groupby(["gender"])["reading score"].mean()

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

In [36]:
#the most average for writing score on the basis of gender
datasheet.groupby(["gender"])["writing score"].mean()

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

# Insight:
    On the basis of Gender Female students are the most average in every for math, reading and writing

# ● On the basis of Test preparation course

In [37]:
#the most average for math on the basis of test preparation course
datasheet.groupby(["test preparation course"])["math score"].mean()

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

In [38]:
#the most average for reading score on the basis of test preparation course
datasheet.groupby(["test preparation course"])["reading score"].mean()

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

In [40]:
#the most average for writing score on the basis of test preparation courser
datasheet.groupby(["test preparation course"])["writing score"].mean()

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

# Insight:
    The students those who have completed the test preparation course, scores the most on average for math, reading and writing

# 4. What do you think about the scoring variation for math, reading and writing based on
● Gender
● Test preparation course

# ● On the basis of Gender

In [41]:
#the most scoring variation for math on the basis of gender
datasheet.groupby(["gender"])["math score"].std()

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64

In [44]:
#the most scoring variation for reading score on the basis of gender
datasheet.groupby(["gender"])["reading score"].std()

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64

In [45]:
#the most scoring variation for writing score on the basis of gender
datasheet.groupby(["gender"])["writing score"].std()

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64

# Insight:
    The scoring variation for math, reading and writing is least for male students

# ● On the basis of Test preparation course

In [46]:
#the most scoring variation for math on the basis of test preparation course
datasheet.groupby(["test preparation course"])["math score"].std()

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

In [47]:
#the most scoring variation for reading score on the basis of test preparation course
datasheet.groupby(["test preparation course"])["reading score"].std()

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

In [48]:
#the most scoring variation for writing score on the basis of test preparation courser
datasheet.groupby(["test preparation course"])["writing score"].std()

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

# Insight:
    The scoring variation for math, reading and writing is least for students those who completed the test preparation course

# 5. The management needs your help to give bonus points to the top 25% of students based on their maths score, so how will you help the management to achieve this.

In [64]:
 #25 percent of 1000.= 250.
#so we're considering top 250 students 
top_students=datasheet.nlargest(250,'math score')
top_students

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
515,female,group E,some college,standard,none,100,92,97
516,female,group E,bachelor's degree,standard,none,100,100,100
517,female,group E,associate's degree,standard,none,100,100,100
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
428,female,group D,some college,free/reduced,none,77,86,86
429,female,group E,some high school,standard,none,77,79,80
849,male,group A,bachelor's degree,standard,none,77,67,68
850,male,group C,associate's degree,free/reduced,none,77,67,64
851,male,group D,some college,standard,completed,77,62,62